<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <error-page>
        <error-code>500</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page> 
    <servlet>
        <servlet-name>CadastrarServlet</servlet-name>
        <servlet-class>servlet.CadastrarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntrarServlet</servlet-name>
        <servlet-class>servlet.EntrarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SairServlet</servlet-name>
        <servlet-class>servlet.SairServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEndereco</servlet-name>
        <servlet-class>servlet.UpdateEndereco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Estabelecimento</servlet-name>
        <servlet-class>servlet.Estabelecimento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MeuEstabelecimento</servlet-name>
        <servlet-class>servlet.MeuEstabelecimento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEstabelecimento</servlet-name>
        <servlet-class>servlet.UpdateEstabelecimento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MeuEndereco</servlet-name>
        <servlet-class>servlet.MeuEndereco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MeuCardapio</servlet-name>
        <servlet-class>servlet.MeuCardapio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CriarCategoria</servlet-name>
        <servlet-class>servlet.CriarCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCategoria</servlet-name>
        <servlet-class>servlet.ExcluirCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CriarItem</servlet-name>
        <servlet-class>servlet.CriarItem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarServlet</servlet-name>
        <url-pattern>/CadastrarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntrarServlet</servlet-name>
        <url-pattern>/EntrarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SairServlet</servlet-name>
        <url-pattern>/SairServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEndereco</servlet-name>
        <url-pattern>/UpdateEndereco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeuEstabelecimento</servlet-name>
        <url-pattern>/estabelecimento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEstabelecimento</servlet-name>
        <url-pattern>/UpdateEstabelecimento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeuEndereco</servlet-name>
        <url-pattern>/endereco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeuCardapio</servlet-name>
        <url-pattern>/cardapio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CriarCategoria</servlet-name>
        <url-pattern>/criarcategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCategoria</servlet-name>
        <url-pattern>/excluircategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CriarItem</servlet-name>
        <url-pattern>/criaritem</url-pattern>
    </servlet-mapping> 
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
