<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CadastrarServlet</servlet-name>
        <servlet-class>servlet.CadastrarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntrarServlet</servlet-name>
        <servlet-class>servlet.EntrarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SairServlet</servlet-name>
        <servlet-class>servlet.SairServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEndereco</servlet-name>
        <servlet-class>servlet.UpdateEndereco</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarServlet</servlet-name>
        <url-pattern>/CadastrarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntrarServlet</servlet-name>
        <url-pattern>/EntrarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SairServlet</servlet-name>
        <url-pattern>/SairServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEndereco</servlet-name>
        <url-pattern>/UpdateEndereco</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
