/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
/* ------------------ */

/* reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ------------------ */

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(230, 230, 230);
}

/* for navbar */
.navbar {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
}
a {
    text-decoration: none;
    color: #222;
}
.logo {
    margin-right: auto;
}
.logo a {
    font-size: 1.5rem;
    color: coral;
    font-weight: bold;
}
.projects, .contact {
    margin: 0 2rem;
}
.login-btn {
    padding: .5rem 1rem;
    border: none;
    font-size: 1rem;
}
.login-btn:hover, .login-btn:focus {
    background-color: coral;
    color: #fff;
}
/* --------------------- */

/* for contents */
.contents {
    position: absolute;
    top: 50%;
    left: 50%;    
    width: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
p {
    color: coral;
    margin-top: 1rem;
}
/* --------------------- */

/* for popup-container */

.popup-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 27rem;
    justify-content: space-between;
    background-color: #fff;
    padding: 2rem;

    /* centered form inside body */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-field {
    padding: 1rem;
    border: none;
    background-color: rgb(230, 230, 230);
    outline: none;
    border-radius: .1rem;
}
.input-field:hover, .input-field:focus {
    background-color: rgb(210, 210, 210);
}
.submit-btn {
    width: 8rem;
    font-size: 1rem;
    font-weight: bold;
    padding: .5rem 1rem;
    background-color: #222;
    color: #fff;
}
.submit-btn:hover, .submit-btn:focus {
    background-color: coral;
}

.close-btn {
    /* re arrange its position to top right of form */
    position: absolute;
    top: 0;
    right: 0;
    padding: .4rem .6rem;
    cursor: pointer
}
.close-btn:hover {
    background-color: coral;
    color: #fff;
}

.hide {
    display: none;
}

.popup-container {
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.1);
    position: absolute;
    top: 0;
}

/* ------------------- */

/* media queries to handle in larger screen */

@media screen and (min-width: 840px) {
    .popup-form {
        width: 30%;
    }
}